.wrapper{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px;
  cursor: pointer;
}

.wrapper:hover{
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--primary_hover);
  background-color: var(--gray_04);
}
.avatar{
  border-radius: 50%;
  border: 1px solid var(--gray_06);
  width: 20px;
  height: 20px;
  object-fit: cover;
  
}

.nickname{
  font-size: 14px;
  color: var(--gray_10);
  text-align: center;
}