.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  .feedInfo {
    display: flex;
    width: 100%;
    gap: var(--spacing-12);
    position: relative;
    color: var(--white);

    .userAvatarContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .userAvatar {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border: 1px solid var(--gray_08);
        padding: 0.5rem;
      }
    }
    .messageFeed {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-12);
      justify-content: center;

      .messageFeedButtons {
        display: flex;
        gap: var(--spacing-12);
        button {
          padding: 8px;
          border-radius: 8px;
          background-color: var(--primary_default);
          cursor: pointer;

          &:hover {
            background-color: var(--primary_active);
          }
           &:active{
            background-color: var(--primary_active);
          }
        }
        .deleteButton {
          background-color: var(--gray_04);
          color: var(--gray_10);

          &:hover {
            background-color: var(--gray_03);
          }
           &:active{
            background-color: var(--gray_03);
          }
        }
      }
    }
  }
  .reactsInfo {
    display: flex;
    gap: var(--spacing-12);
    color: white;
    align-items: center;

    button {
      font-size: 1rem;
      color: white;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-4);
      cursor: pointer;
    }
  }
}
.replyContainer {
  flex: 1;
  overflow-y: auto;

  .replies {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: 1rem;

    .reply {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: var(--spacing-12);
      position: relative;
      color: var(--white);
      padding: 0.5rem;

      .replyContents {
        display: flex;
        width: 100%;
        gap: var(--spacing-12);
        position: relative;
        color: var(--white);

        .userAvatarContainer {
          display: flex;
          flex-direction: column;
          align-items: center;

          .userAvatar {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            border: 1px solid var(--gray_08);
            padding: 0.5rem;
          }
        }
        .messageFeed {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-12);
          justify-content: center;

          button {
            padding: 8px;
            border-radius: 8px;
            background-color: var(--primary_default);
          }
        }
      }
      .deleteButton {
        font-weight: bold;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-4);
        height: 32px;
        cursor: pointer;
        background-color: var(--gray_04);
        color: var(--gray_10);

        &:hover {
          background-color: var(--gray_03);
        }
        &:active{
          background-color: var(--gray_03);
        }
      }
    }
  }
}

.noReply {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: var(--gray_10);
  flex: 1;
}
