.wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  background-color: var(--gray_03);
  border-top: 1px solid var(--gray_06);

  .feedSubmittForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray_01);
    border: 1px solid var(--primary_default);
    border-radius: 30px;
    width: 94%;
    padding: 1rem;
  }

  button {
    flex-shrink: 0;
    border: 0;
    background: transparent;
  }

  .textInput {
    overflow:hidden;
    flex-shrink: 1;
    font-family: "Pretendard Variable", sans-serif;
    border: 0;
    width: 90%;
    background-color: transparent;
    size: 24px;
    resize: none;
    color: white;
  }

  .textInput:focus {
    outline: none;
  }

  .outerCircle {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--primary_default);
  }

  .innerCircle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
  }
}
