button {
  flex-shrink: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
}

.dropdownList {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: black;
  border: 1px solid var(--primary_default);
  padding: 0.5rem;
  list-style: none;
  margin-bottom: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  color: var(--white);
  height: fit-content;
  width: fit-content;
  border-radius: 10px;

  li{
    white-space: nowrap;
    padding: 4px 12px;
    line-height: 1.4;
    border-radius: 5px;
    transition: background-color 0.4s ease, color 0.4s ease; 
  }

  li label{
    width: 100%;
    cursor: pointer;
  }

  li:hover{
    background-color: var(--primary_active);
    color: black;
  }
}
