/* 아. type별로 네스팅 처리할걸. 바보인가 */
.timeDisplay {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .btnGroup {
    display: flex;
    gap: 30px;
  }

  .progress {
    width: 300px;
  }

  textarea {
    resize: none;
  }
}

.flatWrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  .progress {
    width: 200px;
  }

  .btnGroup {
    display: flex;
    gap: 5px;
  }

  .playBtnImg {
    width: 29px;
  }
}


.progress {
  accent-color: var(--primary_active);
}