@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.title {
  font-size: 22px;
  color: var(--primary_active);
  margin-bottom: 1rem;
  font-family: 'SpoqaHanSansNeo-Bold';
}

.feedGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 1rem;
}

.feedItem{
  border-bottom: 1px solid var(--gray_05);
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.postContent {
  flex-grow: 1; 
  padding-right: 16px;
}
.postContent:hover .preview{
  color: var(--primary_hover);
}

.preview {
  font-size: 16px;
  color: var(--gray_10);
  line-height: 1.5;
  transition: color 0.2s ease; 
}

.likeContainer{
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}
.likeCount{
  font-size: 14px;
  color: var(--gray_09);
}