@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.title {
  font-size: 22px;
  font-family: 'SpoqaHanSansNeo-Bold';
  color: var(--primary_default);
}

.content {
  min-height: 240px;
  overflow: hidden;
}

.swiperContainer {
  position: relative;
}

.swiper {
  overflow: visible;
}

.swiper :global(.swiper-button-prev),
.swiper :global(.swiper-button-next) {
  color: var(--primary_default);
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.swiper :global(.swiper-button-prev) {
  right: 8px;
}
.swiper :global(.swiper-button-next) {
  right: 8px;
}
.swiper :global(.swiper-button-prev):hover,
.swiper :global(.swiper-button-next):hover {
  color: var(--primary_hover);
}
.swiper :global(.swiper-button-prev):active,
.swiper :global(.swiper-button-next):active {
  color: var(--primary_active);
}

.swiperSlide {
  height: 100%;
}

.card {
  padding: 10px;
  border-radius: 12px;
  color: var(--gray_10);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid transparent;
}
.card:hover {
  cursor: pointer;
  /* border: 1px solid var(--primary_hover); */
  background-color: var(--gray_04);
   /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.267); */
}

.image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--spacing-12);
  margin-bottom: 5px;
}

.cardTitle {
  font-size: 16px;
  color: var(--gray_10);
  padding: 10px 0;
}
