.title{
  font-size: 24px;
  margin-bottom: 20px;
}

.container{
  display: flex;
  width: 95%;
  flex-direction: column;
  gap: 10px;

  .feed{
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.fcWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}