:root {
  --primary_active: #e4a00dff;
  --primary_hover: #ffd950ff;
  --primary_default: #f9bb04ff;
  --primary_disabled: #fbe38bff;
  --white: #ffffffff;
  --black: #000000ff;
  --background: #1e1e1eff;
  --gray_01: #181818ff;
  --gray_02: #232323ff;
  --gray_03: #333333ff;
  --gray_04: #4b4b4bff;
  --gray_05: #6b6b6bff;
  --gray_06: #8c8c8cff;
  --gray_07: #b0b0b0ff;
  --gray_08: #d1d1d1ff;
  --gray_09: #e5e5e5ff;
  --gray_10: #f6f6f6ff;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  font-family: "Pretendard Variable", sans-serif;
}