

.topHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray_03);
  border-bottom: 1px solid var(--primary_default);
  height: 50px;
}

.btnGroup{
  display: flex;
}

.content{
  color: var(--white)
}

.logo{
  height: 140%;
}