

.topHeader{
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray_03);
  border-bottom: 1px solid var(--primary_default);
  height: 50px;
  width: 100%;
  z-index: 999;
}

.btnGroup{
  display: flex;
  cursor: pointer;
}

.content{
  color: var(--white)
}

.logo{
  height: 66px
}

.headerButton{
  border: 0;
  background: transparent;
}

.authButton {
  background: var(--primary_default);
  color: var(--gray_02);
  border: none;
  border-radius: 20px;
  margin: 6px 10px;
  padding: 0 1rem;
  min-width: 80px;
  font-weight: bold;
  cursor: pointer;
}

.authButton:hover {
  background: var(--primary_hover);
}

.authButton:active {
  background: var(--primary_active);
}