button {
  border: 0;
  background: transparent;
  flex-shrink: 0;

  .outerCircle {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--primary_default);
  }

  .innerCircle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    transition: background-color ease-in 0.5s;
  }
}

.halfCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: var(--primary_active);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
