.contentArea {
  height: calc(100vh - 140px);
  padding: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  flex: 1;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-height: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.userListArea {
  width: 250px;
  height: calc(100vh - 140px);
}

.detailContentArea {
  position: relative;
  flex: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: flex 0.3s ease;
  background-color: var(--gray_01);
}

.detailContentArea.open {
  flex: 0.7;
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;

  img {
    width: 30px;
    height: 30px;
  }
}
