@import "../../styles/_theme.css";

.container {
  flex: 1;
  padding: 2rem;
  background-color: var(--gray_03);
  color: var(--white);
  gap: var(--spacing-32);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.profileContainer {
  padding: 2rem;
  background-color: var(--gray_02);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  border-radius: 8px;
  flex: 1;
  min-width: 400px;

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .editUserInfoForm {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
    width: 100%;
  }

  .editUserAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    gap: 1rem;

    input {
      display: none;
    }
  }

  .fileSelectButton {
    width: 100px;
    height: 30px;
    background-color: var(--primary_default);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &:hover {
      background-color: var(--primary_active);
    }
  }

  .userAvatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid var(--gray_08);
    padding: 0.5rem;
  }

  .formInput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
  }

  .formControl {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    width: 100%;
  }

  .formControl input,
  .formControl textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background: var(--gray_03);
    color : var(--white);
    font-family: "Pretendard Variable", sans-serif;
  }

  .formControl textarea {
    resize: vertical;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--gray_08);
    cursor: pointer;

    &:hover {
      background-color: var(--gray_09);
    }
  }
}

.genreContainer {
  padding: 2rem;
  background-color: var(--gray_02);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  border-radius: 8px;
  flex: 1;
  min-width: 400px;

  .genreGrid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-8);
  }
  .genreBtn {
    background: var(--gray_02);
    color: var(--white);
    border: none;
    border-radius: var(--spacing-8);
    padding: var(--spacing-8) var(--spacing-16);
    font-size: 1rem;
    cursor: pointer;
    transition:
      background 0.1s,
      color 0.1s;

    &:hover {
      background: var(--primary_hover);
      color: var(--gray_02);
    }

    &.active {
      background: var(--primary_default);
      color: var(--gray_02);
    }
  }
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .submitBtn {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--gray_08);

    &:hover {
      background-color: var(--gray_09);
    }
  }
  .changedSubmitBtn {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--primary_active);
    cursor: pointer;

    &:hover {
      background-color: var(--primary_default);
    }
  }
}


.profileReadOnly{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background:var(--gray_03);
  min-height: 38px; 
  white-space: pre-wrap; 
  word-break: break-word;    
  overflow-wrap: break-word;
}
.genreReadOnly{
  background: var(--primary_default);
  color: var(--black);
  border: none;
  border-radius: var(--spacing-8);
  padding: var(--spacing-8) var(--spacing-16);
  font-size: 1rem;
  cursor : default;
}