.searchForm {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--background);
}

.searchInput {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--white);
  padding: 1rem;
  border: 0;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  color: var(--primary_default);
}

.resultContiner{
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
}
