
.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}

.modalContent{
  background-color: var(--gray_02);
  padding: 2rem 4rem;
  border-radius: var(--spacing-12);
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  /* max-height: 90vh; */
  /* overflow-y: auto; */
  /* overflow: auto; */
  box-shadow: 0 var(--spacing-4) var(--spacing-20) rgba(0,0,0,0.25);
  position: relative;
  overflow: visible;
  max-height: none;
}

.exitButton{
  position: absolute;
  top: var(--spacing-12);
  right: var(--spacing-12);
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary_default);
  cursor: pointer;

  &:hover {
    color: var(--primary_hover);
  }

  &:active {
    color: var(--primary_active);
  }
}

.title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
}