
.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent{
  background-color: var(--gray_01);
  padding: 2rem;
  border-radius: 12px;
  width: 70vw;
  height: 70vh;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  position: relative;
}

.exitButton{
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary_default);
  cursor: pointer;
}
.exitButton:hover{
  color: var(--primary_hover);
  transform: scale(1.1);
}




.title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}