@import "../styles/_theme.css";

.ChannelMessageForm {
  position: absolute;
  bottom: 0;

  .formControl {
    display: flex;
    gap: var(--spacing-12);
    padding: var(--spacing-8);
  }

  .addFileButton {
    position: absolute;
    top: 0;
    right: 0;
  }
  .hiddenButtons {
    position: absolute;
    top: -30px;
    right: 0;
  }

  input {
    width: 350px;
  }

  .files {
    width: 500px;
  }
  textarea {
    width: 500px;
  }
}
